@import "css/lists.css";
@import "css/nav.css";
@import "css/forms.css";
@import "css/buttons.css";

html, body{
  font-family: 'Press Start 2P', cursive;
}
.header{
  text-align: center;
  margin: 0;
  height: 10vh;
}
#content{
  margin-top: 0;
  margin-left: 10vw;
  height: 80vh;
}
.footer{
  text-align: center;
  background-color: #124;
  color: #fff;
  padding: 1vh 0;
  height: 10vh;
}

td{
  padding-bottom: 5px;
  text-align: center;
}

.signup-success{
  padding: 3px;
  background-color: #9f9;
  border-radius: 3px;
  width: 400px;
}
.landing{
  background-image: url(img/quetLogLandingHero.jpg);
  background-color: #000;
  color: #fff;
  height: inherit;
  width: 110vw;
  left: -10vw;
  position: absolute;
  text-align: center;
  padding-left: 10vw;
}
.landing h1{
 margin-top: 30vh;
 font-size: 48px;
 font-weight: 400;
}
.landing p{
  font-size: 24px;
}
